.Card {
    width: 300px;
    text-align: center;
    margin: auto;
}

@media(min-width: 768px) {
    .Card {
        width: 600px;
    }
}

/* .fadeIn {
    animation: fadeIn 2s ease;
}

@keyframes fadeIn {
    from {opacity: 0};
    to {opacity: 1};
} */